# Supabase Configuration
SUPABASE_URL=https://something.supabase.co
SUPABASE_KEY=some-supabase-key-here
SUPABASE_DB_PASSWORD=whatever-password-you-have

# OpenAI Compatible LLM Configuration
OPENAI_BASE_URL=https://some-openai-compatible-endpoint/v1
OPENAI_API_KEY=some-openai-compatible-endpoint-api
OPENAI_MODEL=model-name
OLLAMA_MODEL_ID=local-model-name
